<h1><%= @user.username %></h1>
<% if @user.sharks.any?%>
<h3>Here is your sharks:</h3>
  <% @user.sharks.each do |shark| %>
    <a href="/sharks/<%= shark.id %>"><%=shark.name%></a>
  <% end %>
<% else %>
  <h1>I TOLD YOU I WANTED SHARKS WITH FRIGGIN LASER BEAMS ATTACHED TO THEIR FRIGGIN HEADS</h1>
  <% if @user == current_user %>
    <p><a href="/sharks/new">Add your first shark!</a><p>
  <% end %>
<% end %>
